.gradient-text {
  background: linear-gradient(to right, red, orange);
  -webkit-background-clip: text;
  color: transparent;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
